.banner {
  background-color: $athens-gray;
  padding: 3rem 0;
  &__image {
    background-repeat: no-repeat;
    border-radius: 30px;
    min-height: 370px;
    @include media-breakpoint-up(md) {
      & {
        height: 100%;
      }
    }
  }
  &__heart {
    transition: 0.8 ease-in-out;
  }
  &__button:hover {
    .banner__icon {
      color: $bittersweet;
    }
    .banner__heart {
      transform: scale(1.2);
    }
  }
}

.banner-icon__list {
  list-style-type: none;
  margin-left: 0px;
  & > li {
    display: inline-block;
    padding: 0 2rem;
  }
}
