button {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: bold !important;
}

.text-bittersweet {
  color: $bittersweet;
  &:hover {
    color: darken($bittersweet, 1.3);
  }
}

.link-opposite-bittersweet {
  color: $bittersweet;
  &:hover {
    color: $primary;
  }
}

.invalid-feedback {
  color: $bittersweet;
}

.btn-primary:hover {
  color: $white;
  background-color: $bittersweet;
  border-color: $bittersweet;
}

.btn-outline-secondary:hover {
  color: $secondary;
  background-color: $primary;
  border-color: $primary;
}
