.bg-center {
  background-position: center center;
}

.bg-cover {
  background-size: cover;
}

.text-justify {
  text-align: justify;
}

.fz-balootanna2 {
  font-family: 'Baloo Tamma 2', 'cursive';
}

.badge-info {
  background: #e8e8db;
  color: #858377;
}
